<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/agradecimiento.css">
    
    <title>Agradecimiento</title>
</head>
<body>

    <nav class="navg">
        <div class="navg-contenedor">
            <div class="logo"><a href="/index.html"><img class="imglogo" src="/src/icons/marca.png" alt="Logo"></a></div>
            <div class="redes">
                <div><img class="circulored" src="/src/icons/circulointagram.png" alt="circulos"></div>
                <div><img class="circulored" src="/src/icons/circulofacebook.png" alt="circulos"></div>
                <div><img class="circulored" src="/src/icons/circuloyt.png" alt="circulos"></div>
            </div>
        </div>
    </nav>
    <div class="containerAgrado">
        <h1 id="graciasTitulo" class="graciasTitulo">¡Gracias por unirte! </h1>
            <p id="correoMensaje" class="textAgrado">Recibe cada semana en tu correo recomendaciones exclusivas de películas, especialmente seleccionadas para ti y tu persona especial.</p>
            
        
    </div>
    
    <script src="/js/agradecimiento.js"></script>
</body>
</html>
