@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: none;
    background-color: #14141B;
}

.navg {
    background-color: #14141B;
    padding: 1rem 10%;
}

.navg-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imglogo {
    width: 22rem;
    max-width: 100%;
}

.redes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2vh 0;
}

.circulored {
    margin: 1vh;
}

.sec1 {
    width: 100%;
    height: 100vh;
    background-image: url(/src/images/fondosec1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    
    text-align: center;
}

.titulolargo {
    
    background-color: transparent;
    margin: 10vh;
    text-align: left;
    max-width: 80%;
}

.h1portada {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.segundotitulo {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.Imperdible {
    text-align: center;
    width: auto;
    max-width: 16vh;
    
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #14141B;
    border: none;
    background-color: #FFC83A;
    
}

.sec1 .button {
    color: white;
    background-color: #FF3A3A;
    margin-top: 2vh;
    border: none;
    padding: 1.5vh 4vh;
}

.sec1 .h4boton {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.divisor {
    margin: 0 17%;
    display: flex;
    color: #FFC83A;
    width: 100%;
    max-width: 1240px;
    border-color: #FFC83A;
    margin-bottom: 1%;
}

.beneficios {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    margin: 12vh 17% 1vh;
}

.contenedor-rectangulos {
    position: relative;
    padding: 90px 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rectangulo {
    display: flex;
    width: 100%;
    max-width: 375px;
    height: 204px;
    border: 2px solid #ffca3a;
    position: relative;
    text-align: center;
    margin: 10vh 1rem;
    box-sizing: border-box;
}

.circulo {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 200, 58, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.imagen-superpuesta {
    position: absolute;
    bottom: -90%;
    left: 50%;
    transform: translateX(-50%);
}

.textoCard {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 3vh;
    color: white;
    text-align: start;
    margin: 2vh;
}

.grid-container {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: center;
    padding: 2rem;
}

.grid-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}


.recoimg{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgrecorta{
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.reco{
    margin-bottom: 15vh;
}


.sec3{
    margin-bottom: 15vh;
    max-width: 1600px;
    margin: auto;
    background-color: #fff;
}

.grid-container2 {
    
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    

}

.grid-item2 {
    background-image: url(/src/images/imageneform.png);
    
    color: #14141B;
    padding: 2rem;
    text-align: center;
    border: 1px solid ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.grid-itemr{
    
    background-color: #14141B;
    color: #14141B;
    padding: 2rem;
    text-align: center;
    border: 1px solid ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
}

.form-container {
    
    color: #14141B;
    padding: 10rem;
    border-radius: 8px;
    
    
    width: 100%;
}

.h3form {
    text-align: start;
    margin-bottom: 1.5rem;
    font-family: "Raleway" , sans-serif;
    font-weight: 500;
    color: #FFC83A;
}

form {
    text-align: start;
    font-family: "Raleway" , sans-serif;
    font-weight: 500;
    color: #FFC83A;
    display: flex;
    flex-direction: column;
    
    
}

input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid ;
    border-radius: 4px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: #FFC83A;
    
}

.buttonform {
    background-color: #FF3A3A;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonform:hover {
    background-color: #cc2d2d;
}



.foot{
    display: flex;
    margin-top: 5vh;
    justify-content:space-around;

    
    
}


.main-grid {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px;
    
    width: 100%;
}

.main-item {

    color: #14141B;
    padding: 0.5rem;
    text-align: center;
    
    border-radius: 8px;
    grid-column: 3/7;
    color: #fff;
    font-family: "Raleway" , sans-serif;
    font-weight: 200;
    text-align: start;

    
}

.main-itemimg{

    color: #14141B;
    padding: 0.5rem;
    text-align: center;

    border-radius: 8px;

    max-width: 20vh;
    grid-column:  2/3 ;
}

.main-img{
    display: flex;
}

.main-item3{
    
    color: #14141B;
    padding: 0.5rem;
    text-align: center;
    
    border-radius: 8px;
    
    max-width: 500px;
    grid-column: 8/9 ;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: end;
    
    
}

.sub-itemtit{
    
}

.sub-item {
    display: flex;
    
    color: #14141B;
    
    text-align: center;
    
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    grid-column: 2/4,


}



.footface{
    width: 4vh;
    margin: 0.5vh;
}

.textfoot{
    color: #fff;
    display: flex;
    margin: 1vh;
    font-family: "Raleway" , sans-serif;
    font-weight: 300;
    font-size: medium;
}

.textfootYT{
    color: #fff;
    display: flex;
    margin: 1vh;
    font-family: "Raleway" , sans-serif;
    font-weight: 300;
    font-size: medium;
    
}

.textfootface{
    display: flex;
    
    margin-bottom: 0;
    font-family: "Raleway" , sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #FFC83A;
}


/* Media Queries */

@media(max-width: 1024px){
    .grid-item2{
        display: none;
    }

    .grid-container2 {
    
        display: flex;
        justify-content: center;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        
    
    }

    .grid-itemr{
        
        background-color: #14141B;
        color: #14141B;
        padding: 2rem;
        text-align: center;
        border: 1px solid ;
        display: block; 
    }
}








@media (max-width: 768px) {
    .navg-contenedor {
        padding: 0 5%;
    }
    .sec1 {
        
    }
    .titulolargo {
        margin: 10vh 0;
    }
    .beneficios {
        margin: 6vh 6% 1vh;
        text-align: center;
    }
    .contenedor-rectangulos {
        padding: 45px 1rem;
    }
    .rectangulo {
        margin: 5vh 0.5rem;
    }
    .Imperdible {
        display: flex;
        width: auto;
        background-color: #FFC83A;
        font-size: medium;
        top: 100vh;
        

    }

    .imagen-superpuesta{
        display: none;
    }


    .grid-container {
        grid-template-columns: repeat(2, auto);
    }

    
}





@media (max-width: 480px) {
    .h1portada{
        font-size: xx-large;
    }

    .segundotitulo{
        font-size: large;
    
    }

    .redes{
        display: none;
    }
    .navg {
        padding: 1rem 5%;
    }
    .titulolargo {
        margin-top: 30vh;
        margin: 5vh 0;
    }
    .beneficios {
        margin: 3vh 3% 1vh;
    }
    .contenedor-rectangulos {
        padding: 30px 1rem;
    }
    .rectangulo {
        margin: 2vh 0.5rem;
    }


    .grid-container {
        grid-template-columns: 1fr;
    }

    .recoimg{
        display: flex;
    }

    .Imperdible{

    }
}
